{% extends 'base.html' %}

{% block title %}Parts Order Form{% endblock %}

{% block content %}

{% if not state %}
<h3>page under construction....</h3>
<img id="hangInThereBaby" src="https://icon2.cleanpng.com/20180405/ahw/kisspng-clip-art-hang-cliparts-5ac606a5c16e20.9061613515229272697923.jpg" alt="a cat hanging in there, baby!">

{% else %}
<h3>Parts Order Form</h3>

<form action="{{ url_for('parts_order_form') }}" class="partsOrderForm">
    <feildset>
        <legend>Parts Needed</legend>
        <label for="part_name">Part Name: <input type="text" id="part_name" name="part_name"></label>
        <label for="part_name">Part Model No: <input type="text" id="part_model" name="part_name"></label>
        <label for="part_name">Part Serial No: <input type="text" id="part_serial" name="part_name"></label>
        <label for="part_name">Quantity: <input type="number" id="part_amount" name="part_name"></label>
    </feildset>
</form>

{% endif %}



{% endblock %}