{% extends 'base.html' %}

{% block title %}Describe{% endblock %}

{% block content %}

<h2>{{ data.siteName }}</h2>
<form action="{{ url_for('describe') }}" class="editorForm">
    <fieldset>
        <legend>Site Details</legend>
    
        <h3><strong>ID:</strong><input type="text" name="" placeholder="{{ data.}}"></h3>
        <h3><strong>Name:</strong><input type="text" name="" placeholder="{{ data.siteName }}"></h3>
        <h3><strong>Owner:</strong><input type="text" name="" placeholder="{{ data.owner }}"></h3>
        <h3><strong>Coordinates:</strong><input type="text" name="" placeholder="{{ data.coordinates }}"></h3>
        <h3><strong>Parish:</strong><input type="text" name="" placeholder="{{ data.parish }}"></h3>
    </fieldset>
    <fieldset>
        <legend>Unit Details</legend>
        <h3><strong>Unit Manufacturer:</strong><input type="text" name="" placeholder="{{ data.manufacturer }}"></h3>
        <h3><strong>Model No:</strong><input type="text" name="" placeholder="{{ data.model }}"></h3>
        <h3><strong>Serial No:</strong><input type="text" name="" placeholder="{{ data.serial }}"></h3>
        <h3><strong>Refrigerant Type:</strong><input type="text" name="" placeholder="{{ data.refrigerant }}"></h3>
        <h3><strong>Controller Model No:</strong><input type="text" name="" placeholder="{{ data.controller }}"></h3>
        <h3><strong>Filter Size:</strong><input type="text" name="" placeholder="{{ data.filters }}"></h3>
    </fieldset>
</form>
{% endblock %}